<h1>五倍書局</h1>
<%= render 'books/flash' if notice %>
<%= link_to '新增書本', new_book_path %>

<table>
    <tr>
        <td>書名</td>
        <td>出版日期</td>
        <td>售價</td>
        <td>頁數</td>
        <td>ISBN</td>
        <td>ACT</td>
    </tr>

    <% @book.each do |book| %>
    <tr>
        <td>
            <%= link_to book.name, edit_book_path(book) %>
        </td>
        <td>
            <%= book.date %>
        </td>
        <td>
            <%= book.price %>
        </td>
        <td>
            <%= book.pages %>
        </td>
        <td>
            <%= book.isbn %>
        </td>
        <td>
            <%= link_to '刪除', book_path(book), method:'delete' %>
        </td>
    </tr>
    <% end %>
</table>