<h1>新增書本</h1>

<% if @book.errors.any? %>
    <h2>
        <% @book.errors.full_messages.each do |message| %>
        <li>
            <% message %>
        </li>
    </h2>
<% end %>

<%= form_with(model: Book.new) do |form| %>

<div>
    <%= form.label :name, '書名' %>
    <%= form.text_field :name %>
</div>
<div>
    <%= form.label :date, '出版日期' %>
    <%= form.date_field :date %>
</div>
<div>
    <%= form.label :price, '售價' %>
    <%= form.number_field :price %>
</div>
<div>
    <%= form.label :pages, '頁數' %>
    <%= form.number_field :pages %>
</div>
<div>
    <%= form.label :isbn, 'isbn' %>
    <%= form.number_field :isbn %>
</div>
<div>
    <%= form.submit '新增' %>
</div>

<% end %>